@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

* {
    box-sizing: border-box;
}


body {
    font-family: 'Playfair Display', serif;
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    



}

header {
    background-color: rgb(52, 82, 171);
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
  
   
    


}

header h1 {

    color: aliceblue;
    animation: fade-in 3s ease;
}

@keyframes fade-in {
    0% {
        transform: translateX(10rem);
    }


    100% {
        transform: translateX(0);
    }
}

article {
    max-width: 1024px;
    margin: auto;
    align-items: space-between;
    
}
footer{
    background-color: rgb(52, 82, 171);
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color: aliceblue;

}
article{
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 30px;

    

  
   
    
}
a:hover{
    color: gold;
}
.introsection {
    background: rgba(240, 248, 255, 0.832);
    text-align: center;
    color: navy;
    line-height: 1.5;
    width: 80%;
  
    margin: auto;
    
}
.introsection:hover{
background-color: aliceblue;



}
.intro{
    margin: auto;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
}
.labs{
    margin: auto;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;

}
.projects{
    margin: auto;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.labsection{
    background: rgba(240, 248, 255, 0.832);
    text-align: center;
    color: navy;
    line-height: 1.5;
    width: 80%;
    display: block;
    justify-content: center;
   margin: auto;
   
    

    
}
.labsection:hover{
background-color: aliceblue;
}
.projectsection{
    background: rgba(240, 248, 255, 0.832);
    text-align: center;
    color: navy;
    line-height: 1.5;
    width: 80%;
    
    margin: auto;
    padding: 30px;
   
    
    
    
}
.projectsection:hover{
background-color: aliceblue;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}


